:root {
    --font-family: "Poppins", sans-serif;
    --transition: .2s all ease-out;

    --c-white: #fff;
    --c-bg-main: #0c0f14;
    --c-bg-second: #141921;
    --c-bg-btn: #d17842;
    --c-text-grey: #52555a;
    --c-text-grey-light: #aeaeae;
  }
  