.item-size {
    width: 100rem;
    padding: 10rem 20rem;
    border-radius: 10rem;
    text-align: center;
    background: var(--c-bg-second);
    cursor: pointer;
    font-weight: 500;
    font-size: 16rem;
    line-height: 125%;
    color: var(--c-text-grey-light);

    &.selected {
        outline: 2px solid var(--c-bg-btn);
    }

    &.selected {
        color: var(--c-bg-btn);
    }

    &.item-size-beans {
        font-size: 12px;
        line-height: 167%;
    }

    &.cart-item-size-beans {
        font-size: 10rem;
        line-height: 200%;
    }

    &.cart-item-size-drinks {
        color: var(--c-white);
    }
}