@use '../../../styles/helpers/mixins' as *;

.item-size {
    width: 100rem;
    padding: 10rem 20rem;
    border-radius: 10rem;
    text-align: center;
    background: var(--c-bg-second);
    cursor: pointer;
    font-weight: 500;
    font-size: 16rem;
    line-height: 125%;
    color: var(--c-text-grey-light);

    @include tablet-small {
        width: 150rem;
    }
    @include tablet {
        width: 200rem;
        font-size: 20rem;
    }

    &.selected {
        outline: 2px solid var(--c-bg-btn);
    }

    &.selected {
        color: var(--c-bg-btn);
    }

    &.item-size-beans {
        font-size: 12rem;
        line-height: 167%;

        @include tablet-small {
            font-size: 14rem;
        }
        @include tablet {
            font-size: 16rem;
        }
    }

    &.cart-item-size-beans {
        font-size: 10rem;
        line-height: 200%;

        @include tablet {
            font-size: 12rem;
        }
    }

    &.cart-item-size-drinks {
        color: var(--c-white);
    }
}