.login {
    width: 100%;
    height: 100vh;
    padding: 10%;
    display: flex;
    justify-content: center;
    position: relative;

    &__content {
        position: absolute;
        width: 80%;
        max-width: 600rem;
        min-height: 300rem;
        top: 30%;
        padding: 30rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(158.84deg, #3f4652 4%, rgba(38, 43, 51, 0.7) 91.93%);
        text-align: center;
        border-radius: 10rem;
    }

    &__input {
        width: 100%;
        margin-bottom: 50rem;
        border-radius: 10rem;
        border: 0;
        outline: 0;
        padding: 10rem 5rem;

        &::placeholder {
            font-size: 12rem;

            @include tablet-small {
                font-size: 14rem;
            }
        }
    }

    &__btn {
        width: 100%;
        padding: 17rem 30rem;
        border-radius: 17rem;
        font-size: 16rem;

        @include tablet-small {
            width: 60%;
        }
        @include tablet {
            font-size: 18rem;
        }
    }
}

