.login {
    width: 100%;
    padding: 50rem 15%;
    display: flex;
    justify-content: center;

    &__content {
        padding: 50rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(158.84deg, #3f4652 4%, rgba(38, 43, 51, 0.7) 91.93%);
        text-align: center;
        border-radius: 10rem;
    }

    &__input {
        width: 100%;
        margin-bottom: 50rem;
        border-radius: 10rem;
        border: 0;
        outline: 0;
        padding: 10rem 5rem;
    }

    &__btn {
        padding: 17rem 57rem;
        border-radius: 17rem;
    }
}

