.chapter-title {
    font-weight: 500;
    font-size: 16rem;
    line-height: 125%;
    color: var(--c-white);
    margin-top: 23rem;
    margin-bottom: 19rem; 
}

.coffee-beans-list {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 30rem;
    margin-left: 30rem;
    padding: 0 0 10rem 0;
    display: flex;

	&__img { 
        display: flex;
        position: relative;
        margin-bottom: 10rem;
        width: 126rem;
        height: 126rem;
        img {
            border-radius: 16rem;
        }
    }

	&__roast {
        font-weight: 400;
        font-size: 9rem;
        line-height: 222%;
        color: var(--c-white);
        margin-bottom: 3rem;
     }

	&__bye-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-value { 
            font-weight: 600;
            font-size: 15rem;
            line-height: 133%;
            color: var(--c-white);
            span {
                color: var(--c-bg-btn);
            }
        }
        .add-btn { 
            border-radius: 7rem;
            max-width: 28rem;
            max-height: 28rem;
            padding: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-plus {
            font-size: 10rem;
         }
     }
}

