.input-label {
    position: relative;

    .input-icon {
        position: absolute;
    }

    .input-icon-left {
        display: flex;
        left: -20rem;
        top: 9rem;
    }

    .input-icon-right {
        display: flex;
        right: 5rem;
        top: 12rem;
        cursor: pointer;
    }

    .password-icon.active {
        path {
            fill: orangered;
        }
    }
    
}