.home-container {
    padding: 0;

    .main-title {
        max-width: 260rem;
        font-weight: 600;
        font-size: 28rem;
        line-height: 129%;
        margin-top: 0;
        margin-bottom: 28rem;
} 

}

