@use '../../../styles/helpers/mixins' as *;

.back-and-like {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 60rem 21rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.item-image-container {
    position: relative;
    width: 100%;
    height: 520rem;

    @include tablet-small {
        height: 800rem;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.icon-chevron-left::before {
    color: var(--c-text-grey);
}

.item-title {
    &__name {
        font-weight: 600;
        font-size: 20rem;
        line-height: 100%;
        color: var(--c-white);
        margin-bottom: 3rem;

        @include tablet-small {
            font-size: 24rem;
        }
        @include tablet {
            font-size: 32rem;
            margin-bottom: 12rem;
        }
     }
	&__comment {
        font-weight: 400;
        font-size: 12rem;
        line-height: 167%;
        color: var(--c-text-grey-light);
        margin-bottom: 25rem;

        @include tablet-small {
            font-size: 14rem;
        }
        @include tablet {
            font-size: 20rem;
        }
     }
	&__rating {
        display: flex;
        align-items: center;
        gap: 5rem;

        .rating { 
            font-weight: 600;
            font-size: 16rem;
            line-height: 125%;
            color: var(--c-white);

            @include tablet {
                font-size: 18rem;
            }

            &.voted {
                color: var(--c-bg-btn);
            }
        }
        .votes {
            font-weight: 400;
            font-size: 10rem;
            line-height: 200%;
            color: var(--c-text-grey-light);
            align-self: center;

            @include tablet-small {
                font-size: 12rem;
            }
            @include tablet {
                font-size: 16rem;
            }
        }

        .icon-star.voted::before {
            color: var(--c-bg-btn);
        }

     }

	&__markers {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 140rem;

        @include tablet-small {
            max-width: 180rem;
        }
        @include tablet {
            max-width: 240rem;
        }
    }
}

.markers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 131rem;
    gap: 20rem;
    
    @include tablet-small {
        max-width: 180rem;
    }
    @include tablet {
        max-width: 240rem;
    }
 }

.marker { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 56rem;
    height: 56rem;
    border-radius: 10rem;
    padding: 9rem;
    background: var(--c-bg-second);

    @include tablet-small {
        padding: 9rem 4rem;
    }
    @include tablet {
        width: 70rem;
        height: 70rem;
    }
    
    p {
        font-weight: 500;
        font-size: 10rem;
        line-height: 100%;
        color: var(--c-text-grey-light);

        @include tablet-small {
            font-size: 11rem;
        }
        @include tablet {
            font-size: 16rem;
        }
    }
}

.marker.marker_coffee_2 {
    padding-top: 0;
}

.icon-coffee::before, .icon-coffee_2::before, .icon-water::before, .icon-location::before {
    color: var( --c-bg-btn);
}
.icon-coffee::before {
    font-size: 24rem;
}
.icon-coffee_2::before {
    font-size: 38rem;
}
.icon-water::before {
    font-size: 22rem;
}
.icon-location::before {
    font-size: 20rem;
}

.roast { 
    align-self: stretch;
    margin-top: 13rem;
    padding: 12rem 23rem;
    font-weight: 500;
    font-size: 10rem;
    line-height: 200%;
    text-align: center;
    color: var(--c-text-grey-light);
    border-radius: 10rem;
    background: var(--c-bg-second);

    @include tablet-small {
        font-size: 12rem;
        padding: 12rem 18rem;
    }
    @include tablet {
        font-size: 16rem;
    }
}

.item-info-container { 
    padding: 20rem;
}

.desc { 
    font-weight: 600;
    font-size: 14rem;
    line-height: 143%;
    color: var(--c-text-grey-light);
    margin-bottom: 15rem;

    @include tablet-small {
        font-size: 16rem;
    }
    @include tablet {
        font-size: 20rem;
        margin-bottom: 20rem;
    }
}

.item-info-desc {
    margin-bottom: 10rem;

    @include tablet-small {
        font-size: 14rem;
    }
    @include tablet {
        font-size: 20rem;
        margin-bottom: 20rem;
    }
}

.item-info-buy { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-price {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-weight: 500;
        font-size: 12rem;
        line-height: 167%;
        color: var(--c-text-grey-light);
        margin-bottom: 3rem;

        @include tablet-small {
            font-size: 16rem;
        }
        @include tablet {
            font-size: 18rem;
        }
    }
}

.liked::before {
    color: #DC3535;
}



