@use '../../../styles/helpers/mixins' as *;

.price-value {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15rem;
    line-height: 133%;
    color: var(--c-white);

    @include tablet-small {
        font-size: 18rem;
    }
    @include tablet {
        font-size: 20rem;
    }

    span {
        color: var(--c-bg-btn);
    }
}

.price-value-large {
    font-size: 20rem;

    @include tablet-small {
        font-size: 22rem;
    }
    @include tablet {
        font-size: 26rem;
    }
}