html {
  font-size: 1px;
  }

html,body {
  height: 100%;
  }

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background: var(--c-bg-main);
  color: var(--c-white);
  overflow: hidden;
  }

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  }
  
.main {
  overflow-y: auto;
  padding: 0;
  }

.p30 {
  padding: 0 30rem;
}

.btn {
  cursor: pointer;
  background: var(--c-bg-btn);
  border: none;
}
